.contacts {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.contacts:hover {
    background-color: #ebebeb;
}

.contactInfo > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.contactInfo {
    margin-left: 15px;
}